.Header {
    height: 140px;
    background-image: url("https://wallpaperstock.net/wallpapers/thumbs1/41926wide.jpg");
    background-position: center;
    box-shadow: 10px 5px 5px 0px rgba(0, 0, 0, 0.75);
  }